<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated cptdatasetload -->
      <package
            uri="http://com.misc.projects.cpt.datasetload"
            class="com.misc.projects.CptDatasetLoad.CptDatasetLoadPackage"
            genModel="model/cptdatasetload.genmodel"/>
   </extension>

</plugin>
