<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated cptdatasetload -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="com.misc.projects.CptDatasetLoad.presentation.CptDatasetLoadModelWizardID"
            name="%_UI_CptDatasetLoadModelWizard_label"
            class="com.misc.projects.CptDatasetLoad.presentation.CptDatasetLoadModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/CptDatasetLoadModelFile.gif">
         <description>%_UI_CptDatasetLoadModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated cptdatasetload -->
      <editor
            id="com.misc.projects.CptDatasetLoad.presentation.CptDatasetLoadEditorID"
            name="%_UI_CptDatasetLoadEditor_label"
            icon="icons/full/obj16/CptDatasetLoadModelFile.gif"
            extensions="cptdatasetload"
            class="com.misc.projects.CptDatasetLoad.presentation.CptDatasetLoadEditor"
            contributorClass="com.misc.projects.CptDatasetLoad.presentation.CptDatasetLoadActionBarContributor">
      </editor>
   </extension>

</plugin>
