<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated forecast -->
      <package
            uri="http://com.misc.projects.cpt.forecast"
            class="com.misc.projects.Forecast.ForecastPackage"
            genModel="model/forecast.genmodel"/>
   </extension>

</plugin>
